<script src="https://unpkg.com/vue"></script>


<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zadanie 4 - usuwanie danych</title>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- css -->
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">

</head>

<body>


<div class="component">
  <div class="row">
    <div id="avaliableComponents">
      <button v-for="component in allComponents" class="btn" v-bind:class="[{'btn-default': component.selected}, {'btn-info': !component.selected}]" v-on:click="selectComponent(component.pizzaComponent)">
        {{component.pizzaComponent}}
      </button>
    </div>
  </div>


  <ul id="pizzas">
    <li v-for="pizza in pizzas" v-if="pizza.visible">
      {{pizza.name}} - {{pizza.components}} - cena: {{pizza.price}} - visible: {{pizza.visible}}
    </li>
  </ul>
<hr />
  <ul id="selected">
    <li v-for="selected in selectedComponents">
      {{selected.selected}}
    </li>
  </ul>

<hr />

</div>



  <script src="https://unpkg.com/vue"></script>
  <script>

  function compareArray(mainArray, compareArr) {
      var mainArrayLength = mainArray.length;
      var compareArrayLength = compareArr.length;
      var match = true;
          for (i = 0; i < compareArrayLength; i++) {
              if ( mainArray.indexOf(compareArr[i]) == -1 ){
                      match = false;
                      return match;
                  }
          }
          return match;
      }



      //var pizzaArray = [];
      var pizza = {
          visible: true,
          name: "",
          price: 0,
          components:[]
      };
      var Pizza = function(name,price,  components){
          this.name = name;
          this.price = price;
          this.components = components;
      }
      var selectedComponentsArray = [
      {pizzaComponent: "mozarella", selected : false},
      {pizzaComponent: "tomSouce", selected : false},
      {pizzaComponent: "oregano", selected : false},
      {pizzaComponent: "ham", selected : false},
      {pizzaComponent: "peperoni", selected : false},
      {pizzaComponent: "mushrooms", selected : false},
      {pizzaComponent: "garlic", selected : false},
      {pizzaComponent: "onion", selected : false},
      {pizzaComponent: "ananas", selected : false},
      {pizzaComponent: "oliwki", selected : false}
      ]
/*
      var mozarella = new Pizza("mozarella", 19.99, [ "tomSouce", "oregano"]);
      pizzaArray.push(mozarella);
      var roma = new Pizza("roma", 24.99,  [ "tomSouce", "ham", "peperoni", "mushrooms"]);
      pizzaArray.push(roma);
      var capriciosa = new Pizza("capriciosa", 29.99,  [ "tomSouce", "ham", "onion", "garlic"]);
      pizzaArray.push(capriciosa);
      var hawajska = new Pizza("hawajska", 21.99,  [ "tomSouce", "ananas",  "mushrooms"]);
      pizzaArray.push(hawajska);
      var egipska = new Pizza("egipska", 28.99,  [ "tomSouce", "ham", "oliwki", "mushrooms"]);
      pizzaArray.push(egipska);

      pizzaArray = {
        {"name": "mozarella", "price": 19.99, "components": [ "tomSouce", "oregano"] },
        {"name": "roma", "price": 24.99, "components": [ "tomSouce", "ham", "peperoni", "mushrooms"] },
        {"name": "capriciosa", "price": 30, "components": [ "tomSouce", "ham", "onion", "garlic"] }
      }


      var checkPizzas = function(){
          var componentsToCheck= [];
          var selectedComponentsArrayLength = selectedComponentsArray.length
          //console.log("selectedComponentsArrayLength =" +selectedComponentsArrayLength);
          for(i=0;i<selectedComponentsArrayLength;i++){
            if(selectedComponentsArray[i].selected){
              componentsToCheck.push(selectedComponentsArray[i].pizza);
            }
          }
          var pizzaArrayLength = pizzas.pizzas.length;
          //console.log("selectedComponentsArrayLength =" +pizzaArrayLength);
        for(j=0;j<pizzaArrayLength;j++){
          var pizzaComponents = pizzas.pizzas[j].components;
          if( compareArray(pizzaComponents, componentsToCheck) ){
            Vue.set(pizzas.pizzas[j], 'visible', true);
            //pizzaArray[j].visible = true;
          } else {
            Vue.set(pizzas.pizzas[j], 'visible', false);
          }
        }
        //console.log("end of function checkPizzas");


      }

    //"mozarella", "mushrooms", "ham", "peperoni", "corn"

*/

      var pizzas = new Vue({
          el: '#pizzas',
          data: {
              pizzas: [
                {"name": "mozarella", "price": 19.99, "components": [ "tomSouce", "oregano"], "visible": true },
                {"name": "roma", "price": 24.99, "components": [ "tomSouce", "ham", "peperoni", "mushrooms"], "visible": true },
                {"name": "capriciosa", "price": 30, "components": [ "tomSouce", "ham", "onion", "garlic"], "visible": true }
              ]
          },
          methods: {
              checkPizzas: function(){
                var componentsToCheck= [];
                var selectedComponentsArrayLength = selectedComponentsArray.length
                //console.log("selectedComponentsArrayLength =" +selectedComponentsArrayLength);
                for(i=0;i<selectedComponentsArrayLength;i++){
                  if(selectedComponentsArray[i].selected){
                    componentsToCheck.push(selectedComponentsArray[i].pizzaComponent);
                  }
                }
                var pizzaArrayLength = pizzas.pizzas.length;
                //console.log("selectedComponentsArrayLength =" +pizzaArrayLength);
              for(j=0;j<pizzaArrayLength;j++){
                var pizzaComponents = pizzas.pizzas[j].components;
                if( compareArray(pizzaComponents, componentsToCheck) ){
                  Vue.set(this.pizzas[j], 'visible', true);
                  //pizzaArray[j].visible = true;
                } else {
                  Vue.set(this.pizzas[j], 'visible', false);
                }
              }
            }

          }
      });

      var selected = new Vue({
        el: '#selected',
        data:{
          selectedComponents: selectedComponentsArray

        }
      })


      var avaliableComponents = new Vue({
        el: '#avaliableComponents',
        data: {
          allComponents: selectedComponentsArray,
          buttonClass: "btn",
          buttonComponentClass: "btn-component",
          buttonInfoClass: "btn-info",
          buttonDefaultClass: "btn-default"
        },
        computed: {
          bindClass: function(idex){
            var className = "";
            if(this.allComponents[index].selected){
                className = "btn-default";
            } else {
                className = "btn-info";
            }
            return className;
          }
        },
        methods: {
          selectComponent: function(selectedComponent){
              for (i = 0; i < selectedComponentsArray.length; i++){
                if( this.allComponents[i].pizzaComponent == selectedComponent ){
                //  this.allComponents[i].selected = !this.allComponents[i].selected;
                Vue.set(this.allComponents[i], 'selected', !this.allComponents[i].selected);
                }
              }
            pizzas.checkPizzas();

          }
        }
      })
  </script>
<script src="https://unpkg.com/vue"></script>
</body>

</html>
